[defaults]
inventory = inventory.yml
roles_path = roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
display_args_to_stdout = False
no_log = False

[ssh_connection]
pipelining = True

